input[type="submit"]{
    cursor:pointer;
    border: 1px solid #9ca3af;
    color: #000;
    background-color: #f8f9fa;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}

table{
    width: 100% !important;
}

.newsletter {
    padding: 80px 0;
    background: #1C282E;
}

.newsletter .content {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    z-index: 2; }
.newsletter .content h3 {
    color: white;
    margin-bottom: 40px; }
.newsletter .content .form-control {
    height: 50px;
    border-color: #ffffff;
    border-radius:0;
}
.newsletter .content.form-control:focus {
    box-shadow: none;
    border: 2px solid #243c4f;
}
.newsletter .content .btn {
    min-height: 50px;
    border-radius:0;
    background: #E7A83F;
    color: #fff;
    font-weight:600;
}

.tox-notifications-container{
    display: none !important;
}
